In [212]:
import pandas as pd

In [213]:
from mlxtend.frequent_patterns import apriori,association_rules

In [214]:
my_movies=[]

In [215]:
with open("C:/Users/elcot/Downloads/my_movies.csv") as d:
     my_movies= d.read()

In [216]:
my_movies

'V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile\nSixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1\nGladiator,Patriot,Braveheart,,,0,1,0,0,1,0,0,0,1,0\nLOTR1,LOTR2,,,,0,0,1,0,0,1,0,0,0,0\nGladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0\nGladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0\nGladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0\nHarry Potter1,Harry Potter2,,,,0,0,0,1,0,0,1,0,0,0\nGladiator,Patriot,,,,0,1,0,0,1,0,0,0,0,0\nGladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0\nSixth Sense,LOTR,Gladiator,Green Mile,,1,1,0,0,0,0,0,1,0,1\n'

In [217]:
my_movies1 = my_movies.split("\n")

In [218]:
my_movies1

['V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile',
 'Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1',
 'Gladiator,Patriot,Braveheart,,,0,1,0,0,1,0,0,0,1,0',
 'LOTR1,LOTR2,,,,0,0,1,0,0,1,0,0,0,0',
 'Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0',
 'Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0',
 'Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0',
 'Harry Potter1,Harry Potter2,,,,0,0,0,1,0,0,1,0,0,0',
 'Gladiator,Patriot,,,,0,1,0,0,1,0,0,0,0,0',
 'Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0',
 'Sixth Sense,LOTR,Gladiator,Green Mile,,1,1,0,0,0,0,0,1,0,1',
 '']

In [219]:
my_movies1_list = []

In [220]:
for i in my_movies1:
    my_movies1_list.append(i.split(","))

In [221]:
all_my_movies1_list = [i for item in my_movies1_list for i in item]

In [222]:
all_my_movies1_list

['V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'Sixth Sense',
 'Gladiator',
 'LOTR1',
 'Harry Potter1',
 'Patriot',
 'LOTR2',
 'Harry Potter2',
 'LOTR',
 'Braveheart',
 'Green Mile',
 'Sixth Sense',
 'LOTR1',
 'Harry Potter1',
 'Green Mile',
 'LOTR2',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 'Gladiator',
 'Patriot',
 'Braveheart',
 '',
 '',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 'LOTR1',
 'LOTR2',
 '',
 '',
 '',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 'Gladiator',
 'Patriot',
 'Sixth Sense',
 '',
 '',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 'Gladiator',
 'Patriot',
 'Sixth Sense',
 '',
 '',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 'Gladiator',
 'Patriot',
 'Sixth Sense',
 '',
 '',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 'Harry Potter1',
 'Harry Potter2',
 '',
 '',
 '',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 'Gladiator',
 'Patriot',
 '',
 '',
 '',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 'Gladiator',
 'Patriot',
 'Sixth Sense',
 '',
 '',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 'Sixth Sense',
 'LOTR',
 'Gladiator',
 'Green Mile',
 '',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '']

In [223]:
from collections import Counter

In [224]:
item_frequencies = Counter(all_my_movies1_list )

In [225]:
item_frequencies

Counter({'V1': 1,
         'V2': 1,
         'V3': 1,
         'V4': 1,
         'V5': 1,
         'Sixth Sense': 7,
         'Gladiator': 8,
         'LOTR1': 3,
         'Harry Potter1': 3,
         'Patriot': 7,
         'LOTR2': 3,
         'Harry Potter2': 2,
         'LOTR': 2,
         'Braveheart': 2,
         'Green Mile': 3,
         '1': 30,
         '0': 70,
         '': 21})

In [226]:
item_frequencies = sorted(item_frequencies.items(),key = lambda x:x[1])

In [227]:
item_frequencies

[('V1', 1),
 ('V2', 1),
 ('V3', 1),
 ('V4', 1),
 ('V5', 1),
 ('Harry Potter2', 2),
 ('LOTR', 2),
 ('Braveheart', 2),
 ('LOTR1', 3),
 ('Harry Potter1', 3),
 ('LOTR2', 3),
 ('Green Mile', 3),
 ('Sixth Sense', 7),
 ('Patriot', 7),
 ('Gladiator', 8),
 ('', 21),
 ('1', 30),
 ('0', 70)]

In [228]:
frequencies = list(reversed([i[1] for i in item_frequencies]))

In [229]:
frequencies

[70, 30, 21, 8, 7, 7, 3, 3, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1]

In [230]:
items = list(reversed([i[0] for i in item_frequencies]))

In [231]:
items

['0',
 '1',
 '',
 'Gladiator',
 'Patriot',
 'Sixth Sense',
 'Green Mile',
 'LOTR2',
 'Harry Potter1',
 'LOTR1',
 'Braveheart',
 'LOTR',
 'Harry Potter2',
 'V5',
 'V4',
 'V3',
 'V2',
 'V1']

In [232]:
import matplotlib.pyplot as plt

In [233]:
movies_series  = pd.DataFrame(pd.Series(my_movies1_list))

In [234]:
movies_series

                                                    0
0   [V1, V2, V3, V4, V5, Sixth Sense, Gladiator, L...
1   [Sixth Sense, LOTR1, Harry Potter1, Green Mile...
2   [Gladiator, Patriot, Braveheart, , , 0, 1, 0, ...
3   [LOTR1, LOTR2, , , , 0, 0, 1, 0, 0, 1, 0, 0, 0...
4   [Gladiator, Patriot, Sixth Sense, , , 1, 1, 0,...
5   [Gladiator, Patriot, Sixth Sense, , , 1, 1, 0,...
6   [Gladiator, Patriot, Sixth Sense, , , 1, 1, 0,...
7   [Harry Potter1, Harry Potter2, , , , 0, 0, 0, ...
8   [Gladiator, Patriot, , , , 0, 1, 0, 0, 1, 0, 0...
9   [Gladiator, Patriot, Sixth Sense, , , 1, 1, 0,...
10  [Sixth Sense, LOTR, Gladiator, Green Mile, , 1...
11                                                 []

In [237]:
movies_series = movies_series.iloc[:11,:]

In [238]:
movies_series.columns = ["transactions"]

In [239]:
X = movies_series['transactions'].str.join(sep='*').str.get_dummies(sep='*')

In [241]:
frequent_itemsets = apriori(X, min_support=0.005, max_len=3,use_colnames = True)

In [242]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)

In [243]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [245]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1),(0),1.0,1.0,1.0,1.0,1.0,0.0,inf
1,(0),(1),1.0,1.0,1.0,1.0,1.0,0.0,inf
2,(Gladiator),(0),0.7,1.0,0.7,1.0,1.0,0.0,inf
3,(0),(Gladiator),1.0,0.7,0.7,0.7,1.0,0.0,1.0
4,"(Gladiator, 1)",(0),0.7,1.0,0.7,1.0,1.0,0.0,inf

In [246]:
rules.sort_values('lift',ascending = False,inplace=True)

In [247]:
def to_list(i):
    return (sorted(list(i)))

In [248]:
ma_X = rules.antecedents.apply(to_list)+rules.consequents.apply(to_list)

In [249]:
ma_X = ma_X.apply(sorted)

In [250]:
rules_sets = list(ma_X)

In [251]:
unique_rules_sets = [list(m) for m in set(tuple(i) for i in rules_sets)]

In [252]:
index_rules = []

In [253]:
for i in unique_rules_sets:
    index_rules.append(rules_sets.index(i))

In [254]:
rules_no_redudancy  = rules.iloc[index_rules,:]

In [256]:
rules_no_redudancy.sort_values('lift',ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
293,"(Gladiator, Green Mile)",(LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
188,"(LOTR, 1)",(Green Mile),0.1,0.2,0.1,1.0,5.0,0.08,inf
229,"(LOTR1, Sixth Sense)",(Harry Potter1),0.1,0.2,0.1,1.0,5.0,0.08,inf
90,"(LOTR1, 1)",(LOTR2),0.2,0.2,0.2,1.0,5.0,0.16,inf
277,"(LOTR1, Harry Potter1)",(Green Mile),0.1,0.2,0.1,1.0,5.0,0.08,inf