In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import scipy

In [5]:
from scipy import stats

In [6]:
import statsmodels.api as sm

In [7]:
import plotly as py

In [8]:
cutlet=pd.read_csv("C:/Users/elcot/Downloads/Cutlets.csv")

In [9]:
cutlet.head()

    UnitA    Unit
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [10]:
UnitA=stats.shapiro(cutlet.UnitA)

In [11]:
UnitA_pValue=UnitA[1]

In [12]:
print("p-value is: "+str(UnitA_pValue))

p-value is: 0.3199819028377533

In [13]:
UnitB=stats.shapiro(cutlet.Unit)

In [14]:
UnitB_pValue=UnitB[1]

In [15]:
print("p-value is: "+str(UnitB_pValue))

p-value is: 0.5224985480308533

In [16]:
scipy.stats.levene(cutlet.UnitA, cutlet.Unit)

LeveneResult(statistic=0.665089763863238, pvalue=0.4176162212502553)

In [17]:
scipy.stats.ttest_ind(cutlet.UnitA,cutlet.Unit)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [18]:

scipy.stats.ttest_ind(cutlet.UnitA,cutlet.Unit,equal_var = True)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [19]:
from statsmodels.formula.api import ols

In [23]:
                   #second analysis
lab=pd.read_csv("C:/Users/elcot/Downloads/LabTAT.csv")

In [24]:
lab.head()

   Laboratory1  Laboratory2  Laboratory3  Laboratory4
0       185.35       165.53       176.70       166.13
1       170.49       185.91       198.45       160.79
2       192.77       194.92       201.23       185.18
3       177.33       183.00       199.61       176.42
4       193.41       169.57       204.63       152.60

In [25]:
lab.columns="Laboratory1","Laboratory2","Laboratory3","Laboratory4"

In [26]:
SupA=stats.shapiro(lab.Laboratory1)

In [27]:
SupA_pValue=SupA[1]

In [28]:
print("p-value is: "+str(SupA_pValue))

p-value is: 0.5506953597068787

In [29]:
SupB=stats.shapiro(lab.Laboratory2)

In [30]:
SupB_pValue=SupB[1]

In [31]:
print("p-value is: "+str(SupB_pValue))

p-value is: 0.8637524843215942

In [32]:
SupC=stats.shapiro(lab.Laboratory3)

In [33]:
SupC_pValue=SupC[1]

In [34]:
print("p-value is: "+str(SupC_pValue))

p-value is: 0.4205053448677063

In [35]:
Supd=stats.shapiro(lab.Laboratory4)

In [36]:
Supd_pValue=SupC[1]

In [37]:
print("p-value is: "+str(Supd_pValue))

p-value is: 0.4205053448677063

In [38]:
scipy.stats.levene(lab.Laboratory1, lab.Laboratory2)

LeveneResult(statistic=3.5495027780905763, pvalue=0.06078228171776711)

In [39]:
scipy.stats.levene(lab.Laboratory2, lab.Laboratory3)

LeveneResult(statistic=0.9441465124387124, pvalue=0.33220021420602397)

In [40]:
scipy.stats.levene(lab.Laboratory3, lab.Laboratory4)

LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)

In [41]:
scipy.stats.levene(lab.Laboratory4, lab.Laboratory1)

LeveneResult(statistic=1.5000140718506723, pvalue=0.22188001348277267)

In [42]:
mod=ols('Laboratory1~Laboratory2+Laboratory3+Laboratory4',data=lab).fit()

In [43]:
aov_table=sm.stats.anova_lm(mod,type=2)

In [44]:
print(aov_table)

                df        sum_sq     mean_sq         F    PR(>F)
Laboratory2    1.0    332.030416  332.030416  1.940311  0.166299
Laboratory3    1.0    203.853111  203.853111  1.191271  0.277335
Laboratory4    1.0    265.614707  265.614707  1.552192  0.215323
Residual     116.0  19850.186366  171.122296       NaN       NaN

In [45]:
                   #third analysis
buyerratio=pd.read_csv("C:/Users/elcot/Downloads/BuyerRatio.csv")

In [46]:
buyerratio.head()

  ObservedValues  East  West  North  South
0          Males    50   142    131     70
1        Females   435  1523   1356    750

In [47]:
count=pd.crosstab(buyerratio["East"],buyerratio["West"])

In [48]:
count

West  142   1523
East
50       1     0
435      0     1

In [49]:
Chisquares_results=scipy.stats.chi2_contingency(count)

In [50]:
Chi_pValue=Chisquares_results[1]

In [51]:
print("p-value is: "+str(Chi_pValue))

p-value is: 1.0

In [52]:
count2=pd.crosstab(buyerratio["North"],buyerratio["South"])

In [53]:
Chisquares_results=scipy.stats.chi2_contingency(count2)

In [54]:
Chi_pValue2=Chisquares_results[1]

In [55]:
print("p-value is: "+str(Chi_pValue2))

p-value is: 1.0

In [56]:
                   #fourth analysis
orderform=pd.read_csv("C:/Users/elcot/Downloads/Costomer+OrderForm.csv")

In [57]:
orderform.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [58]:
countA=pd.crosstab(orderform["Phillippines"],orderform["Indonesia"])

In [59]:
countA

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [60]:
Chisquares_results=scipy.stats.chi2_contingency(countA)

In [61]:
Chi_pValue=Chisquares_results[1]

In [62]:
print("p-value is: "+str(Chi_pValue))

p-value is: 0.6665712150680798

In [63]:
countB=pd.crosstab(orderform["Malta"],orderform["India"])

In [64]:
countB

India       Defective  Error Free
Malta
Defective           0          31
Error Free         20         249

In [65]:
Chisquares_results=scipy.stats.chi2_contingency(countB)

In [66]:
Chi_pValue=Chisquares_results[1]

In [67]:
print("p-value is: "+str(Chi_pValue))

p-value is: 0.23355053527979247

In [78]:
faltoons=pd.read_csv("C:/Users/elcot/Downloads/Faltoons.csv")

In [79]:
faltoons.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [80]:
                   #fifth analysis
#importing packages to do 2 proportion test
from statsmodels.stats.proportion import proportions_ztest

In [81]:
tab = faltoons.groupby(['Weekdays', 'Weekend']).size()

In [82]:
tab

Weekdays  Weekend
Female    Female     167
          Male       120
Male      Female      66
          Male        47
dtype: int64

In [83]:
count = np.array([120, 47])

In [84]:
nobs = np.array([167, 66])

In [85]:
stat, pval = proportions_ztest(count, nobs,alternative='two-sided')

In [86]:
print('{0:0.3f}'.format(pval))

0.922

In [87]:
stat, pval = proportions_ztest(count, nobs,alternative='larger')

In [88]:
print('{0:0.3f}'.format(pval))

0.461