In [1]:
import pandas as pd

In [44]:
import numpy as np

In [45]:
import scipy

In [46]:
from scipy import stats

In [47]:
import statsmodels.api as sm

In [48]:
cutlet=pd.read_csv("C:/Users/elcot/Downloads/Cutlets.csv")

In [49]:
cutlet.head()

    UnitA   Unit2
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [50]:
cutlet=stats.shapiro(cutlet.UnitA)

In [51]:
cutlet_pValue=cutlet[1]

In [52]:
print("p-value is: "+str(cutlet_pValue))

p-value is: 0.3199819028377533

In [54]:
cutlet2=pd.read_csv("C:/Users/elcot/Downloads/Cutlets.csv")

In [55]:
cutlet2=stats.shapiro(cutlet.Unit2)

AttributeError: 'tuple' object has no attribute 'Unit2'