In [22]:
import pandas as pd

In [23]:
import numpy  as np

In [24]:
import matplotlib.pyplot as plt

In [25]:
data=pd.read_csv("C:/Users/elcot/Downloads/affairs.csv")

In [26]:
data.head()

,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,0,male,37.0,10.00,no,3,18,7,4
1,0,female,27.0,4.00,no,4,14,6,4
2,0,female,32.0,15.00,yes,1,12,1,4
3,0,male,57.0,15.00,yes,5,18,6,5
4,0,male,22.0,0.75,no,2,17,6,3

In [45]:
data.isnull().sum()

affairs          0
gender           0
age              0
yearsmarried     0
children         0
religiousness    0
education        0
occupation       0
rating           0
dtype: int64

In [27]:
X=pd.get_dummies(data.iloc[:,1:8])

In [28]:
Y=data.iloc[:,0]

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
import seaborn as sb

In [31]:
from sklearn.model_selection import traiX_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=0)n_test_split

In [32]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [33]:
model = LogisticRegression()

In [34]:
model.fit(X_train,y_train)

C:\Users\elcot\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\elcot\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
y_pred=model.predict(X_test)

In [36]:
from sklearn import metrics

In [37]:
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)

In [38]:
cnf_matrix

array([[117,   0,   0,   0,   0,   1],
       [  7,   0,   0,   0,   0,   0],
       [  6,   0,   0,   0,   0,   0],
       [  6,   0,   0,   0,   0,   0],
       [  8,   0,   0,   0,   0,   0],
       [  6,   0,   0,   0,   0,   0]], dtype=int64)

In [41]:
data.shape

(601, 9)

In [43]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7748344370860927