In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv("C:/Users/elcot/Desktop/Fraud_check.csv")

In [4]:
data.head()

  Undergrad   Marital  Income  Experience Urban
0        NO    Single   68833          10   YES
1       YES  Divorced   33700          18   YES
2        NO   Married   36925          30   YES
3       YES    Single   50190          15   YES
4        NO   Married   81002          28    NO

In [5]:
data['Income']=data['Income'].apply(lambda x:"1" if x>=30000 else "0")

In [6]:
data.head()

  Undergrad   Marital Income  Experience Urban
0        NO    Single      1          10   YES
1       YES  Divorced      1          18   YES
2        NO   Married      1          30   YES
3       YES    Single      1          15   YES
4        NO   Married      1          28    NO

In [11]:
colnames = list(data.columns)

In [13]:
inputs=data.drop('Income',axis='columns')

In [14]:
target=data['Income']

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le_Undergrad = LabelEncoder()
le_Marital = LabelEncoder()
le_Urban = LabelEncoder()

In [17]:
inputs['Undergrad_n']=le_Undergrad.fit_transform(inputs['Undergrad'])
inputs['Marital_n']=le_Undergrad.fit_transform(inputs['Marital'])
inputs['Urban_n']=le_Undergrad.fit_transform(inputs['Urban'])

In [18]:
inputs_n=inputs.drop(['Undergrad','Marital','Urban'],axis='columns')

In [22]:
inputs_n.head()

   Experience  Undergrad_n  Marital_n  Urban_n
0          10            0          2        1
1          18            1          0        1
2          30            0          1        1
3          15            1          2        1
4          28            0          1        0

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
from sklearn.model_selection import train_test_split

In [26]:
np.shape(data)

(600, 5)

In [54]:
X_train, X_test, y_train, y_test = train_test_split(inputs_n, target, test_size=0.3, random_state=1)

In [58]:
model=RandomForestClassifier(n_estimators=15,criterion="entropy",max_depth=3)

In [59]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=3, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=15,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [60]:
model.score(X_test,y_test)

0.8