In [61]:
import pandas as pd

In [62]:
books=pd.read_csv("C:/Users/elcot/Downloads/books.csv",encoding='ISO-8859-10')

In [63]:
books.head()

,Unnamed: 0,"users[, 1]",BookTitle,BookAuthor,Publisher,"ratings[, 3]"
0,1,1,Classical Mythology,Mark P. O. Morford,Oxford University Press,0
1,2,2,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,5
2,3,3,Decision in Normandy,Carlo D'Este,HarperPerennial,0
3,4,4,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,Farrar Straus Giroux,3
4,5,5,The Mummies of Urumchi,E. J. W. Barber,W. W. Norton &amp; Company,6

In [64]:
books.BookAuthor

0                                      Mark P. O. Morford
1                                    Richard Bruce Wright
2                                            Carlo D'Este
3                                        Gina Bari Kolata
4                                         E. J. W. Barber
5                                                 Amy Tan
6                                           Robert Cowley
7                                             Scott Turow
8                                         David Cordingly
9                                             Ann Beattie
10                                   David Adams Richards
11                                             Adam Lebor
12                                            Sheila Heti
13                                           R. J. Kaiser
14                                          Jack Canfield
15                                      Loren D. Estleman
16                                     Robert Hendrickson
17                                           Julia Oliver
18                                           John Grisham
19                                          Toni Morrison
20                                              The Onion
21                                     Celia Brooks Brown
22                                          J. R. Parrish
23                           Mary-Kate &amp; Ashley Olsen
24                                        Robynn Clairday
25                                          Kathleen Duey
26                                           Rich Shapero
27                                       Michael Crichton
28                                       MICHAEL CRICHTON
29                                             C.S. Lewis
                              ...
4970     Graf Publishers;http://images.amazon.com/imag...
4971     Robin (Love Stories: Year Abroad Trilogy (Pap...
4972     Claire;Francesca Lia Block;2000;Harpercollins...
4973     Bk 1);Isaac Asimov;1986;Del Rey Books;http://...
4974     Training W/Magic Pb;Ed  Rose;1997;McGraw-Hill...
4975     Child Murder Epidemic Sweeping America;Michel...
4976     Shadow, Vol. 1);Janny Wurts;1995;Eos;http://i...
4977     Company;http://images.amazon.com/images/P/039...
4978     Row;http://images.amazon.com/images/P/0060406...
4979                                      Alejandro Dumas
4980                                          Jules Verne
4981                                          Ric Edelman
4982                                        Bill Pronzini
4983                                    William L. Shirer
4984                                   James M. McPherson
4985                                   Richard M. Ketchum
4986                                 James Alexander Thom
4987                                          Allan Haley
4988                                         Jeff Carlson
4989                                         Diana Martin
4990                                       Robin Williams
4991                                         Diane Martin
4992                                        Mitzi Szereto
4993                                     Michael Farquhar
4994                                             Roni Jay
4995                                       Daniella Chace
4996                                      Bryce Courtenay
4997                                          David Smith
4998                                         Carole Bloom
4999                                       Salman Rushdie
Name: BookAuthor, Length: 5000, dtype: object

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [66]:
tfidf = TfidfVectorizer(stop_words="english")

In [67]:
books["BookAuthor"].isnull().sum()

0

In [68]:
tfidf_matrix = tfidf.fit_transform(books.BookAuthor)

In [69]:
tfidf_matrix.shape

(5000, 8441)

In [70]:
from sklearn.metrics.pairwise import linear_kernel

In [71]:
cosine_sim_matrix = linear_kernel(tfidf_matrix,tfidf_matrix)

In [72]:
books_index = pd.Series(books.index,index=books['BookTitle']).drop_duplicates()

In [81]:
books_index["The Mummies of Urumchi"]

4

In [85]:
def get_books_recommendations(BookTitle,topN):
    
   
    #topN = 10
    # Getting the movie index using its title 
    BookAuthor = books_index[BookTitle]
    
    # Getting the pair wise similarity score for all the anime's with that 
    # anime
    cosine_scores = list(enumerate(cosine_sim_matrix[BookAuthor]))
    
    # Sorting the cosine_similarity scores based on scores 
    cosine_scores = sorted(cosine_scores,key=lambda x:x[1],reverse = True)
    
    # Get the scores of top 10 most similar anime's 
    cosine_scores_10 = cosine_scores[0:topN+1]
    
    # Getting the anime index 
    BookAuthor1  =  [i[0] for i in cosine_scores_10]
    books_scores =  [i[1] for i in cosine_scores_10]
    
    # Similar movies and scores
    books_similar_books = pd.DataFrame(columns=["BookTitle","Score"])
    books_similar_books["BookTitle"] = books.loc[BookAuthor1,"BookTitle"]
    books_similar_books["Score"] = books_scores
    books_similar_books.reset_index(inplace=True)  
    books_similar_books.drop(["index"],axis=1,inplace=True)
    print (books_similar_books)
    #return (anime_similar_show)

In [87]:
get_books_recommendations("PLEADING GUILTY",topN=10)

                                            BookTitle     Score
0                                     PLEADING GUILTY  1.000000
1                          Reversible Errors: A Novel  1.000000
2                                   Presumed Innocent  1.000000
3                                     Pleading Guilty  1.000000
4                                          Negaholics  0.581942
5            Random Acts Of Management:A Dilbert Book  0.394651
6          Conversations With Dogbert: A Dilbert Book  0.394651
7   The Dilbert Bunch: A Dilbert Book (Main Street...  0.394651
8    You Don't Need Experience if You've Got Attitude  0.394651
9   The Boss: Nameless, Blameless and Shameless (A...  0.394651
10           Dogbert's Top Secret Management Handbook  0.394651