In [36]:
import pandas as pd

In [37]:
books=pd.read_csv("C:/Users/elcot/Downloads/books.csv",encoding="ISO-8859-10")

In [38]:
books.head()

,Unnamed: 0,"users[, 1]",BookTitle,BookAuthor,Publisher,"ratings[, 3]"
0,1,1,Classical Mythology,Mark P. O. Morford,Oxford University Press,0
1,2,2,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,5
2,3,3,Decision in Normandy,Carlo D'Este,HarperPerennial,0
3,4,4,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,Farrar Straus Giroux,3
4,5,5,The Mummies of Urumchi,E. J. W. Barber,W. W. Norton &amp; Company,6

In [39]:
books.shape

(5000, 6)

In [40]:
books.columns

Index(['Unnamed: 0', 'users[, 1]', 'BookTitle', 'BookAuthor', 'Publisher',
       'ratings[, 3]'],
      dtype='object')

In [41]:
books.BookAuthor

0                                      Mark P. O. Morford
1                                    Richard Bruce Wright
2                                            Carlo D'Este
3                                        Gina Bari Kolata
4                                         E. J. W. Barber
5                                                 Amy Tan
6                                           Robert Cowley
7                                             Scott Turow
8                                         David Cordingly
9                                             Ann Beattie
10                                   David Adams Richards
11                                             Adam Lebor
12                                            Sheila Heti
13                                           R. J. Kaiser
14                                          Jack Canfield
15                                      Loren D. Estleman
16                                     Robert Hendrickson
17                                           Julia Oliver
18                                           John Grisham
19                                          Toni Morrison
20                                              The Onion
21                                     Celia Brooks Brown
22                                          J. R. Parrish
23                           Mary-Kate &amp; Ashley Olsen
24                                        Robynn Clairday
25                                          Kathleen Duey
26                                           Rich Shapero
27                                       Michael Crichton
28                                       MICHAEL CRICHTON
29                                             C.S. Lewis
                              ...
4970     Graf Publishers;http://images.amazon.com/imag...
4971     Robin (Love Stories: Year Abroad Trilogy (Pap...
4972     Claire;Francesca Lia Block;2000;Harpercollins...
4973     Bk 1);Isaac Asimov;1986;Del Rey Books;http://...
4974     Training W/Magic Pb;Ed  Rose;1997;McGraw-Hill...
4975     Child Murder Epidemic Sweeping America;Michel...
4976     Shadow, Vol. 1);Janny Wurts;1995;Eos;http://i...
4977     Company;http://images.amazon.com/images/P/039...
4978     Row;http://images.amazon.com/images/P/0060406...
4979                                      Alejandro Dumas
4980                                          Jules Verne
4981                                          Ric Edelman
4982                                        Bill Pronzini
4983                                    William L. Shirer
4984                                   James M. McPherson
4985                                   Richard M. Ketchum
4986                                 James Alexander Thom
4987                                          Allan Haley
4988                                         Jeff Carlson
4989                                         Diana Martin
4990                                       Robin Williams
4991                                         Diane Martin
4992                                        Mitzi Szereto
4993                                     Michael Farquhar
4994                                             Roni Jay
4995                                       Daniella Chace
4996                                      Bryce Courtenay
4997                                          David Smith
4998                                         Carole Bloom
4999                                       Salman Rushdie
Name: BookAuthor, Length: 5000, dtype: object

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
tfidf = TfidfVectorizer(stop_words="english")

In [44]:
books["BookAuthor"].isnull().sum()

0

In [45]:
books["BookAuthor"] = books["BookAuthor"].fillna(" ")

In [46]:
tfidf_matrix = tfidf.fit_transform(books.BookAuthor)

In [47]:
tfidf_matrix.shape

(5000, 8441)

In [48]:
from sklearn.metrics.pairwise import linear_kernel

In [49]:
cosine_sim_matrix = linear_kernel(tfidf_matrix,tfidf_matrix)

In [59]:
indices = pd.Series(books['BookTitle'].index)

In [53]:
books_index["Goodbye to the Buttermilk Sky"]

17

In [61]:
def recommend(index, cosine_sim=cosine_sim_matrix):
    id = indices[index]
    # Get the pairwsie similarity scores of all books compared to that book, 
    # sorting them and getting top 5
    similarity_scores = list(enumerate(cosine_sim[id]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[1:6]

    # Get the books index
    books_index = [i[0] for i in similarity_scores]

    # Return the top 5 most similar books using integer-location based indexing (iloc)
    return books['BookTitle'].iloc[books_index]

In [62]:
recommend(2)

3174        Un Giorno Dopo L'altro
3209    Almost blue (Stile libero)
4939      Repairing PC Drives &amp
0              Classical Mythology
1                     Clara Callan
Name: BookTitle, dtype: object

In [63]:
recommend(6)

4831    MONSTERS AND MAGICIANS (Stairway to Forever, B...
4845                                   STAIRWAY TO FOREVE
3558                 August 1944: The Campaign for France
104     Creating Wealth : Retire in Ten Years Using Al...
3403                                         Roter Drache
Name: BookTitle, dtype: object