In [1]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import seaborn as sns

In [6]:
salarytest=pd.read_csv("C:/Users/elcot/Downloads/SalaryData_Test(1).csv")

In [7]:
salarytest.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_workclass= LabelEncoder()
le_education= LabelEncoder()
le_maritalstatus= LabelEncoder()
le_occupation= LabelEncoder()
le_relationship= LabelEncoder()
le_race= LabelEncoder()
le_sex= LabelEncoder()
le_native= LabelEncoder()
le_Salary= LabelEncoder()

In [10]:
salarytest['workclass_n']=le_workclass.fit_transform(salarytest['workclass'])
salarytest['education_n']=le_education.fit_transform(salarytest['education'])
salarytest['maritalstatus_n']=le_maritalstatus.fit_transform(salarytest['maritalstatus'])
salarytest['occupation_n']=le_occupation.fit_transform(salarytest['occupation'])
salarytest['relationship_n']=le_relationship.fit_transform(salarytest['relationship'])
salarytest['race_n']=le_race.fit_transform(salarytest['race'])
salarytest['sex_n']=le_sex.fit_transform(salarytest['sex'])
salarytest['native_n']=le_native.fit_transform(salarytest['native'])
salarytest['Salary_n']=le_Salary.fit_transform(salarytest['Salary'])

In [15]:
salarytest_n=salarytest.drop(['Salary','workclass','education','maritalstatus','occupation','relationship','race','sex','native'],axis='columns')

In [16]:
from sklearn.svm import SVC

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
train,test = train_test_split(salarytest_n,test_size = 0.3)

In [19]:
train_X = salarytest_n.drop('Salary_n',axis='columns')

In [20]:
train_Y =salarytest_n['Salary_n']

In [21]:
model_poly = SVC(kernel = "poly")

In [ ]:
model_poly.fit(train_X,train_Y)

C:\Users\elcot\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
pred_test_poly = model_poly.predict(test_X)

In [ ]:
model_linear = SVC(kernel = "linear")

In [ ]:
model_linear.fit(train_X,train_y)

In [ ]:
pred_test_linear = model_linear.predict(test_X)

In [ ]:
np.mean(pred_test_linear==test_y)

In [ ]:
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(train_X,train_y)
pred_test_rbf = model_rbf.predict(test_X)

In [ ]:
np.mean(pred_test_rbf==test_y)