In [3]:
import pandas as pd

In [8]:
train=pd.read_csv("C:/Users/elcot/Downloads/SalaryData_Train.csv")

In [9]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
test=pd.read_csv("C:/Users/elcot/Downloads/SalaryData_Test.csv")

In [11]:
test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [12]:
string_columns=["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [13]:
from sklearn import preprocessing

In [16]:
number = preprocessing.LabelEncoder()

In [18]:
for i in string_columns:
     train[i] = number.fit_transform(train[i])
     test[i] = number.fit_transform(test[i])

In [19]:
colnames =train.columns

In [20]:
len(colnames[0:13])

13

In [21]:
trainX =train[colnames[0:13]]

In [22]:
trainY = train[colnames[13]]

In [23]:
testX  = test[colnames[0:13]]

In [24]:
testY  = test[colnames[13]]

In [29]:
from sklearn.naive_bayes import GaussianNB

In [30]:
from sklearn.naive_bayes import MultinomialNB

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
from sklearn.metrics import confusion_matrix

In [33]:
sgnb = GaussianNB()

In [34]:
smnb = MultinomialNB()

In [35]:
spred_gnb = sgnb.fit(trainX,trainY).predict(testX)

In [36]:
confusion_matrix(testY,spred_gnb)

array([[10759,   601],
       [ 2491,  1209]], dtype=int64)

In [38]:
print ("Accuracy",(10759+1209)/(10759+601+2491+1209))

Accuracy 0.7946879150066402

In [39]:
spred_mnb = smnb.fit(trainX,trainY).predict(testX)

In [40]:
confusion_matrix(testY,spred_mnb)

array([[10891,   469],
       [ 2920,   780]], dtype=int64)

In [41]:
print("Accuracy",(10891+780)/(10891+780+2920+780))

Accuracy 0.7592869689675362